.header {
    grid-column: full-start / col-end 6;
    background-image: 
        linear-gradient(
            rgba($color-secondary, 0.9), 
            rgba($color-secondary, 0.9)
        ), 
        url(../img/hero.jpeg); 
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content min-content 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-items: left;
    justify-content: center;

    @media(max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    @media(max-width: $bp-small) {
        padding: 5rem;
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__seenon-text {
        justify-self: stretch;
        font-size: 1.6rem;
        color: $color-grey-light-2;

        display: grid;
        grid-template-columns: 2fr max-content 2fr;
        grid-gap: 1.5rem;
        justify-items: center;
        align-items: center;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: currentColor;
        }
    }

    &__seenon-logos {
        justify-self: center;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(0.7);
        }
    }
}